[os]
disabled = false
format = "$symbol "
symbols.Ubuntu = "[](#fab387)"
symbols.Windows = "[](blue)"
symbols.Arch = "[󰣇](blue)"
symbols.Pop = "[](green)"

[container]
disabled = true

[battery]
disabled = false

[[battery.display]]
threshold = 10
style = 'bold red'

[[battery.display]]
threshold = 30
style = 'bold yellow'

[[battery.display]]
threshold = 100
style = 'bold green'
